:root {
    --blanco: #FFFFFF;
    --negro: #212121;
    --primario: #FFc107;
    --secundario: #0097A7;
    --gris: #757575;
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Codigo para Box Model*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit; /* Codigo para Box Model*/
}
/* Scrolls */
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
body{
    font-size: 16px; /* 1rem = 10px*/
    font-family: "Zain", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}
.contenedor {
    max-width: 120rem;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;*/
    margin: 0 auto;/*margin: (top)0 (right)auto (bottom)0 (left)auto*/
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.75rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    width: 80%;
    border: none;
}
@media (min-width: 480px) {
    .boton{
        width: 25rem;
    }
}
.boton:hover {
    cursor: pointer;
}
.sombra {
    box-shadow: 6px 12px 41px 0px rgba(158,158,158,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/* Tipografia */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}
/* Titulos */
.titulo1 span{
    font-size: 2rem;
}
/* Navegacion Principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
}
.navegacion-principal a:hover {
    color: var(--negro);
    background-color: var(--primario);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
/* Hero */
.hero {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
}
/* Servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 1fr 1fr 1fr;*/
        column-gap: 3rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-size: 2rem;
    font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: justify;
}
.servicio .iconos {
    height: 10rem;
    width: 10rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Formulario */
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    color: var(--primario);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
    .campo:nth-child(3), 
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: normal;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.enviar .boton {
    width: 100%;
}
/* Footer */
.footer {
    text-align: center;
}