:root {
    --blanco: #FFFFFF;
    --negro: #212121;
    --primario: #FFc107;
    --secundario: #0097A7;
    --gris: #757575;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px*/
    font-family: "Zain", sans-serif;
    font-weight: normal;
    font-style: normal;
}
.titulo1 {
    text-align: center;
    font-size: 3.8rem;
}
.titulo1 span{
    font-size: 2rem;
}