.dark-mode{
    background-color: darken($grisOscuro, 10);
    p{
        color: $blanco;
    }
    a,h1,h2,h3,h4{
        color: $gris;
    }
    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
    }
    .precio{
        color: $verde;
    }
    .iconos-caracteristicas{
        img{
            filter: invert(60%);
        }
    }
    .texto-nosotros {
        color: $blanco;
    }
    .formulario{
        color: $blanco;
        legend,p{
            color: $gris;
        }
        input:not([type='submit']),
        textarea, select{
            background-color: $grisOscuro;
            border: none;
            color: $blanco;
        }
    }
}